<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>Ramanujan Central Library, IIESTS | {{title}}</title>
	<link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
	{{{body}}}
</body>
<script type="text/javascript" href='/javascript/main.js'></script>
</html>