{{#if message}}
	<span id="overhead-msg">{{message}} <span id="overhead-msg-close">X</span></span>
{{/if}}

<section id="header">
	<div class="content-wrapper">
		<span id="logo-text">Ramanujan Central Library</span>
		{{#if user}}
			Welcome <span style="font-weight: bold">{{user.fullname}}</span> (<a href="/logout">logout</a>)
		{{else}}
			<form role='form' action="/login" method="post" id="header-login">
			    <input type='text' name="email" placeholder='Email address'/>
			    <input type='password' name="password" placeholder='Password'/>
			    <button type='submit'> Log In</button>
			    <br/>
			    <a href='/forgot'>Forgot password?</a>
			</form>
		{{/if}}
	</div>
</section>


<form role='form' action="/find" method="post" style='max-width: 800px;'>
    <input type='text' name="query" placeholder='Enter the book title'/>
	<select name="field">
	  <option value="author">Author</option> 
	  <option value="title" selected>Title</option>
	  <option value="isbn">ISBN</option>
	</select>
	&nbsp;&nbsp;
    <button type='submit'> Search</button>
</form>

<section class="footer"></section>