<h2>Manage Books:</h2>

{{#if error}}
<span>{{error}}</span><br/>
{{/if}}
{{#if success}}
<span>{{success}}</span><br/>
{{/if}}

<a href="manage-books/add">Add a book.</a><br/>
<a href="manage-books/remove">Remove a book.</a><br/>
<a href="manage-books/update">Update an entry.</a><br/>